:root {
  --mainColor: #333333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--mainColor);

  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

.link {
  display: inline-block;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;

  text-decoration: none;
}

.link--purple {
  font-size: 16px;
  color: #9D5CD0;
}

.button {
  display: inline-block;
  border: 1px solid #9D5CD0;
  border-radius: 100px;
  padding: 25px 35px;

  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #9D5CD0;

  background: none;

  cursor: pointer;
}

.button--small {
  padding: 10px 21px;

  font-size: 16px;
  color: #fff;
}

.btn-word {
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.btn-word:focus {
  outline: none;
}

.btn-circle {
  padding: 0;
  border: none;

  background: none;
  cursor: pointer;
}

.label {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;

  transition: color .2s ease-in-out;
}

.label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: #fff;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: border-color .2s ease-in-out;
}

.label::after {
  content: "";
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 100%;

  background-color: #C283F3;
  opacity: 0;

  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);

  transition: opacity .2s ease-in-out;
}

.input-checkbox {
  margin: 0;
  padding: 0;

  opacity: 0;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input-checkbox:checked + .label,
.input-checkbox:checked + .label::before {
  border-color: #C283F3;

  color: #C283F3;
}

.input-checkbox:checked + .label::after {
  opacity: 1;
}

/*TOOLTIP*/
.tooltip {
  display: inline-block;

  position: relative;
}

.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;

  background-color: #9D5CD0;
  cursor: pointer;

  position: relative;

  transition: background-color .3s ease-in-out;
}

.popup {
  width: max-content;
  max-width: 264px;
  height: auto;
  padding: 8px 11px;

  background-color: #CACACA;
  opacity: 0;

  color: #fff;
  font-size: 12px;
  font-weight: 600;

  transform: translateX(-50%) translateY(-100%);

  position: absolute;
  z-index: 1;
  left: 50%;
  top: -50%;

  transition: opacity .3s ease-in-out;
}

.marker:hover,
.marker:focus {
  background-color: #CCB26E;
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
}

.marker::before {
  content: '';
  width: 2px;
  height: 8px;

  background-color: #fff;

  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.marker::after {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;

  background-color: #fff;

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.popup::after {
  content: " ";
  margin-left: -5px;
  border-width: 5px;

  position: absolute;
  top: 100%;
  left: 50%;

  border-style: solid;
  border-color: #666666 transparent transparent transparent;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.icon-pointer {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  background-color: #ECECEC;

  position: relative;
}

.icon-pointer::after {
  content: "";
  width: 12px;
  height: 12px;
  border: solid #000;
  border-width: 0 1px 1px 0;

/*  background: #000;*/

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}


/*SECTION*/
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__title {
  margin-bottom: 19px;

  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--mainColor);
}

.section__title--white {
  color: #fff;
}

.section__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: var(--mainColor);
}

/*TABS*/
.tabs {
  display: flex;
}

.tabs__item {
  margin-right: 30px;
}

.tabs__btn {
  width: 66px;
  height: 66px;
  padding: 0;
  border: none;
  border-radius: 100%;

  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

/*SLIDER*/
.slider {
  display: flex;
  width: 72%;
}

.slider-filters {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.slider__item {
  flex-basis: 30%;
}

.slider__item--mgright:not(:nth-child(3n)) {
  margin-right: 50px;
}

.slider-item__img {
  margin-bottom: 23px;
}

.slider-filters__title {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #fff;
}

.figure {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  color: #999999;
}


/*HEADER*/
.header {
  height: 170px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.header__inner {
  padding: 28px 0;

  background-color: black;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-inner__item:first-child {
  margin-right: 179px;
}

.header-inner__nav {
  margin-right: auto;
}

.header-inner__list,
.header-subinner__list {
  display: flex;
}

.header-inner__list-item:not(:last-child) {
  margin-right: 62px;
}

.header__subinner {
  padding: 22px 0 22px 0;

  background: rgba(0, 0, 0, .4);
}

.header-subinner__item:first-child {
  margin-right: auto;
}

.header-subinner__list-item:not(:last-child) {
  margin-right: 97px;
}


/*HERO*/
.hero {
  height: 800px;
  display: flex;
  align-items: center;
  padding-top: 120px;

  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-1x.jpg) 1x,
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero__content {
  width: 36%;
}

.hero-content__title {
  margin-bottom: 25px;

  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: #fff;
}

.hero-content__text {
  margin-bottom: 95px;

  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
}

.hero-content__button {
  border: none;

  color: #fff;

  background: #9D5CD0;
}


/*ABOUT*/
.section-about {
  padding-bottom: 70px;
}

.section-about__description {
  width: 68%;
}


/*GALLERY*/
.section-gallery {
  padding-top: 84px;

  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-1x.jpg) 1x,
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.section-gallery__content {
  display: flex;
}

.gallery-content__select {
  margin-bottom: auto;
}

.gallery-content__footnote {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #fff;

  transform: translateY(10px);
}

.gallery-content__footnote-link {
  display: inline;

  font-size: 16px;
  line-height: 2;
  color: #C283F3;
}


.gallery-content__slider {
  flex-wrap: wrap;
}

.gallery-content__card {
  max-width: 350px;
  height: 350px;
  flex-grow: 1;
  flex-shrink: 1;
}

.gallery-content__card-img-1 {
  background-image: url(../img/gallery/Rectangle%2070.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card-img-2 {
  background-image: url(../img/gallery/Rectangle%2069.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card-img-3 {
  background-image: url(../img/gallery/Rectangle%2068.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card-img-4 {
  background-image: url(../img/gallery/Rectangle%2072.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card-img-5 {
  background-image: url(../img/gallery/Rectangle%2073.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card-img-6 {
  background-image: url(../img/gallery/Rectangle%2071.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content__card:nth-child(-n+3) {
  margin-bottom: 50px;
}

.gallery-content__card-img {
  display: block;
  max-width: 100%;
  height: auto;
}


/*CATALOG*/
.catalog-heading {
  display: flex;
}

.catalog-heading__title {
  margin-right: 30px;
}

/*
.catalog-list__img {
  width: 46px;
  height: 46px;
  border-radius: 100%;
}
*/

.catalog-description {
  width: 70%;
  margin-bottom: 45px;
}

.catalog-content {
  display: flex;
  flex-basis: 50%;
}

.catalog-content__description {
  flex-basis: 45%;
  margin-right: auto;
}

.catalog-content__img {
  margin-bottom: 30px;
}

.catalog-content__inner-name {
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.catalog-content__inner-date {
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #999999;
}

.catalog-content__inner-text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.catalog-content__list {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.catalog-content__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-content__list-item:not(:last-child) {
  border-bottom: 1px solid #CACACA;
}

.catalog-content__list-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.accordion__content {
  display: none;
}

.accordion-content__list {
  flex-basis: 30%;
}

.accordion-content__list-item {
  margin-bottom: 10px;
}

.accordion-content__list-button:focus {
  color: #9D5CD0;
}

/*
В каталоге как вариант, фотографии деятелей сделать через бэкграунд, чтобы при нажатии на их имя блоку добавлялся класс с нужной фотографией деятеля
*/


/*EVENTS*/
.events {
  display: flex;
  margin-bottom: 50px;
}

.article {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  border: 1px solid #CACACA;
}

.article:not(:nth-child(3n)) {
  margin-right: 50px;
}

.article__figure {
  text-align: right;
}

.article-figure__caption {
  padding: 10px 20px 0 20px;
}

.article__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px 40px 50px;
}

.article-description__title {
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
}

.article-description__text {
  margin-bottom: 82px;

  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.article-description__link {
  width: fit-content;
  margin-top: auto;

  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #9D5CD0;

  position: relative;
}

.article-description__link::after {
  content: "";
  width: 100%;
  height: 1px;

  background-color: #9D5CD0;

  position: absolute;
  left: 0;
  bottom: 0;
}

.events-button {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}


/*EDITIONS*/
.section-editions {
  background-image: url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-1x.jpg) 1x,
      url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-2x.jpg) 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
}

.editions {
  display: flex;
}

.editions__filters {
  width: 18%;
}

.editions-categories__title {
  font-weight: 700;
}

.editions-categories__list-item {
  margin-bottom: 20px;
  padding-left: 24px;

  position: relative;
}

.editions-price__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.editions-price__group-input {
  width: 25%;
  padding: 4px 10px;
  border: none;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #fff;

  background: rgba(157, 92, 208, .5);
}

.slider-item__group {
  display: flex;
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
}

.slider-item__group-caption {
  margin-right: auto;
}

.slider-item__group-name {
  font-weight: 700;
}

.slider-item__group-price {
  font-style: italic;
}

/*
сделать общими классы для блоков галерея и издания (слайдер)
*/


/*Projects*/
.projects-description {
  width: 67%;
}
