:root {
  --mainColor: #333333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--mainColor);

  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.link {
  display: inline-block;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;

  transition: color .2s ease-in-out;
}

.link--purple {
  font-size: 16px;
  color: #9D5CD0;
}

.burger-btn {
  display: none;
  padding: 16px 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
}

.burger-btn:focus {
  outline: none;
}

.burger-btn__item {
  display: block;
  width: 36px;
  height: 3px;

  background-color: #fff;

  position: relative;
}

.burger-btn__item::before,
.burger-btn__item::after {
  content: '';
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger-btn__item::before {
  top: -11px;
}

.burger-btn__item::after {
  top: 11px;
}

.btn-close {
  display: block;

  padding: 16px 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
}

.btn-close.burger-btn--close {
  display: none;
}

.btn-close.modal-popup__btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-close.modal-popup__btn:focus {
  outline: none;
}

.btn-close.modal-popup__btn:hover .modal-popup__btn-item,
.btn-close.modal-popup__btn:hover .modal-popup__btn-item::after,
.btn-close.modal-popup__btn:active .modal-popup__btn-item,
.btn-close.modal-popup__btn:active .modal-popup__btn-item::after,
.btn-close.modal-popup__btn:focus .modal-popup__btn-item,
.btn-close.modal-popup__btn:focus .modal-popup__btn-item::after {
  box-shadow: 0px 0px 40px 5px rgba(157, 92, 208, 0.8);
}

.btn-close__item {
  display: block;
  width: 36px;
  height: 3px;
  
  background-color: #fff;

  transform: rotate(45deg);

  position: relative;
}

.modal-popup__btn-item {
  transition: box-shadow .2s ease-in-out;
}

.btn-close__item.modal-popup__btn-item {
  background-color: #000;
}

.btn-close__item::after {
  content: '';
  width: 36px;
  height: 3px;
  
  background-color: #fff;

  transform: rotate(-90deg);

  position: absolute;
  top: 0;
  left: 0;
}

.modal-popup__btn-item.btn-close__item::after {
  background-color: #000;
}

.modal-popup__btn-item.btn-close__item,
.modal-popup__btn-item.btn-close__item::after {
  width: 21px;
  height: 1px;
}

.button {
  display: inline-block;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  padding: 25px 35px;

  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #9D5CD0;

  background: none;
  cursor: pointer;
}

.button--shift {
  margin-left: 4px;
  margin-bottom: 4px;
}

.button--medium {
  padding: 17px 33px;
}

.button--small {
  padding: 9px 21px;

  font-size: 16px;
  color: #fff;
}

.button--medium.button--transparent:hover {
  color: #fff;
}

.button--transparent {
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
}

.button--transparent::after {
  content: '';
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-radius: 100px;

  background: transparent;
  box-shadow: 0 0 0 2px #C283F3;
  opacity: 0;

  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--transparent:focus::after {
  opacity: 1;
}

.button--transparent:hover {
  background-color: #9D5CD0;
}

.button--transparent:active {
  background-color: #7943A4;
  border-color: #D1A9F0;
}

.btn-word {
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;

  transition: color .2s ease-in-out;
}

.btn-circle {
  padding: 0;
  border: none;

  background: none;
  cursor: pointer;
  pointer-events: none;
}

.select {
  transition: color .2s ease-in-out;
}

.input-search {
  border: none;
  border-bottom: 1px solid #fff;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;

  cursor: pointer;
  background-color: transparent;
  outline: none;

  transition: border-bottom-color .2s ease-in-out;
}


/*Pseudo-class*/
.button:focus {
  outline: none;
}

.input-search::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.search-btn:focus,
.input-search:focus,
.select:focus,
.btn-word:focus,
.link:focus {
  outline: 2px solid #7943A4;
  outline-offset: 4px;
}

.btn-word:hover,
.link:hover {
  color: #C283F3;
}

.select:active,
.link:active {
  color: #7943A4;
}

.btn-word:active {
  color: #9D5CD0;
}

.link:hover .login-icon {
  fill: #C283F3;
}

.link:active .login-icon {
  fill: #9D5CD0;
}

.select:hover {
  color: #9D5CD0;
}

.input-search:hover {
  border-bottom-color: #C283F3;
}

.input-search:focus-visible + .search-btn .search-icon,
.input-search:hover + .search-btn .search-icon {
  fill: #C283F3;
}

.input-search:focus-visible {
  border-bottom-color: #fff;
}

.link.link--purple:hover {
  color: #9D5CD0;
}

.link.link--purple:active {
  color: #7943A4;
}

.link.link--other::after {
  content: '';
  width: 100%;
  height: 1px;

  background-color: #9D5CD0;
  opacity: 0;

  transition: opacity .2s ease-in-out, background .2s ease-in-out;

  position: absolute;
  left: 0;
  bottom: -5px;
}

.link.link--other:hover::after {
  opacity: 1;
}

.link.link--other:active::after {
  background: #7943A4;
}

/*Animation*/
.pulse {
  width: 22px;
  height: 22px;
  border-radius: 100%;

  background-color: rgba(255, 255, 255, .33);

  animation: pulse .3s ease-out;
  transform: scale(0);

  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(1);
  }
}

.pulse--black {
  width: 22px;
  height: 22px;
  border-radius: 100%;

  background-color: rgba(0, 0, 0, .33);

  animation: pulse .3s ease-out;
  transform: scale(0);

  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(1);
  }
}

.clickable {
  position: relative;
}


/*ARTICLE*/
.article {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  padding: 0 25px;
}

.article:not(:nth-child(-n+3)) {
  margin-top: 50px;
}

.article__figure {
  text-align: right;
}

.article-figure__caption {
  border: solid #CACACA;
  border-width: 0 1px 0 1px;
  padding: 15px 17px 3px 20px;
}

.article__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 48px 43px 48px;
  border: solid #CACACA;
  border-width: 0 1px 1px 1px;
}

.article-description__title {
  margin-bottom: 2px;

  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
}

.article-description__text {
  margin-bottom: 86px;

  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.article-description__link {
  width: fit-content;
  margin-top: auto;

  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #9D5CD0;

  transition: font-weight .2s ease-in-out;

  position: relative;
}

.article-description__link::after {
  content: "";
  width: 100%;
  height: 1px;

  background-color: #9D5CD0;

  transition: background-color .2s ease-in-out;

  position: absolute;
  left: 0;
  bottom: 0;
}

.article-description__link:active::after {
  background-color: #7943A4;
}

.article-description__link:hover {
  color: #9D5CD0;
  font-weight: 700;
}

.article-description__link:active {
  color: #7943A4;
}

.label {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;

  cursor: pointer;

  transition: color .2s ease-in-out;
}

.label:focus {
  outline: none;
}

.label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: #fff;

  pointer-events: none;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: border-color .2s ease-in-out;
}

.label::after {
  content: "";
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 100%;

  pointer-events: none;

  background-color: #C283F3;
  opacity: 0;

  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);

  transition: opacity .2s ease-in-out;
}

.input-checkbox {
  margin: 0;
  padding: 0;

  opacity: 0;
  cursor: pointer;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label:hover,
.label:hover::before {
  border-color: #C283F3;

  color: #C283F3;
}

.label:active,
.label:active::before {
  border-color: #7943A4;

  color: #7943A4;
}

.input-checkbox:checked + .label:active,
.input-checkbox:checked + .label:active::before {
  border-color: #7943A4;

  color: #7943A4;
}

.input-checkbox:checked + .label,
.input-checkbox:checked + .label::before {
  border-color: #C283F3;

  color: #C283F3;
}

.input-checkbox:checked + .label::after {
  opacity: 1;
}

/*FORM*/
.form__title {
  margin-bottom: 15px;

  font-weight: 400;
}

.form__item {
  margin-bottom: 22px;
}

.form__input {
  width: 100%;
  padding: 8px 24px;
  border: 1px solid var(--mainColor);
  border-radius: 100px;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--mainColor);
}

.form__input:focus {
  outline-color: #7943A4;
}

.form__input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #99999;
}

.form__button {
  margin-bottom: 38px;
}

.address {
  margin-bottom: 29px;

  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
}

.address-mobile {
  display: none;
}

/* Modal-popup */
.modal-popup {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-popup.open {
  display: flex;
}

.modal-popup__content {
  display: flex;
  width: 100%;
  max-width: 900px;

  box-shadow: 0px 0px 88px 0px rgba(0, 0, 0, 0.8);

  animation: modal-zoom .3s ease-in-out;
}

/* .modal-popup__content.active {
  display: flex;
} */

@keyframes modal-zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.modal-popup__left {
  width: 45%;
}

.modal-popup__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-popup__right {
  width: 55%;
  display: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 120px;
  padding-bottom: 115px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: #fff;

  position: relative;
}

.modal-popup__right.active {
  display: flex;
}

.modal-popup__title {
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
}

.modal-popup__subtitle {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 600;
  color: var(--mainColor);
}

.modal-popup__date {
  margin-bottom: 35px;

  font-size: 12px;
  font-weight: 400;
  color: #969696;
}

.modal-popup__description {
  font-size: 16px;
  font-weight: 400;
  color: var(--mainColor);
  line-height: 2;
}


/*TOOLTIP*/
.tooltip {
  display: inline-block;

  position: relative;
}

.tooltip:focus {
  outline: none;
}

.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;

  background-color: transparent;
  box-shadow: inset 0 0 0 1px #9D5CD0;
  cursor: pointer;

  position: relative;
  top: 3px;

  transition: background-color .3s ease-in-out;
}

.popup {
  width: max-content;
  max-width: 264px;
  height: auto;
  padding: 8px 11px;

  background-color: #CACACA;
  opacity: 0;
  pointer-events: none;

  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;

  transform: translateX(-50%) translateY(-100%);

  position: absolute;
  z-index: 1;
  left: 50%;
  top: -20%;

  transition: opacity .3s ease-in-out;
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
}

.tooltip:focus .marker,
.marker:hover,
.marker:focus,
.marker:active {
  background-color: #9D5CD0;
}

.tooltip:focus .marker::before,
.tooltip:focus .marker::after,
.marker:hover::before,
.marker:focus::before,
.marker:active::before,
.marker:hover::after,
.marker:focus::after,
.marker:active::after {
  background-color: #fff;
}

.marker::before {
  content: '';
  width: 2px;
  height: 8px;

  background-color: #9D5CD0;

  transition: background-color .3s ease-in-out;

  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.marker::after {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;

  background-color: #9D5CD0;

  transition: background-color .3s ease-in-out;

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.popup::after {
  content: "";
  margin-left: -8px;
  border-width: 8px;

  position: absolute;
  top: 100%;
  left: 50%;

  border-style: solid;
  border-color: #CACACA transparent transparent transparent;
}


/*IMG*/
.img {
  display: block;
  width: 100%;
  height: auto;
}

.icon-pointer {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  background-color: #ECECEC;

  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

  position: relative;
}

.icon-pointer::after {
  content: "";
  width: 12px;
  height: 12px;
  border: solid #000;
  border-width: 0 1px 1px 0;

  transition: border-color .2s ease-in-out, transform .2s ease-in-out;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.figure {
  padding: 0;
  margin: 0;

  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  color: #999999;
}

.login-icon {
  width: 13px;
  height: 13px;

  fill: #fff;

  transition: fill .2s ease-in-out;
}

.search-btn {
  border: none;
  padding: 0;
  margin-right: 10px;

  background: none;
  cursor: pointer;
}

.search-icon {
  display: inline-block;
  width: 23px;
  height: 22px;

  fill: #fff;
  cursor: pointer;

  transition: fill .2s ease-in-out;
}

.lang-icon {
  width: 46px;
  height: 46px;
  border-radius: 100%;

  pointer-events: none;

  transition: box-shadow .2s ease-in-out;
}

.lang-icon-rect {
  width: 46px;
  height: 46px;
}

.contact-icon {
  width: 40px;
  height: 40px;

  fill: none;
}

.social {
  display: flex;
}

.social-icon {
  width: 46px;
  height: 46px;
}


/*SOCIAL*/
.social__title {
  margin-bottom: 13px;

  font-weight: 400;
}

.social__item:not(:last-child) {
  margin-right: 18px;
}


/*SECTION*/
.section {
  padding-top: 81px;
  padding-bottom: 80px;
}

.section__title {
  margin-bottom: 19px;

  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--mainColor);
}

.title-inline {
  display: inline-block;
}

.section__title--white {
  color: #fff;
}

.section__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: var(--mainColor);
}


/*TABS*/
.tabs {
  display: flex;
}

.tabs__item {
  margin-right: 30px;
}

.tabs__btn {
  width: 66px;
  height: 66px;
  padding: 0;
  border: none;
  border-radius: 100%;

  transition: box-shadow .2s ease-in-out;

  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

.tabs__btn:focus {
  box-shadow: 0 0 0 2px #9D5CD0;
}

.tabs__btn:hover .lang-icon {
  box-shadow: 0 0 20px rgba(157, 92, 208, .7);
}

.tabs__btn:active .lang-icon {
  stroke: #9D5CD0;
  stroke-width: 2px;
}


/*SWIPER*/
.swiper {
  width: 72%;
}

.swiper-filters {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.swiper__item {
  flex-basis: 31%;
}

.swiper-item__img {
  margin-bottom: 23px;
}

.swiper-filters__title {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #fff;
}

.swiper-item__desc {
  display: flex;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
}

.swiper-item__desc-caption {
  margin-right: auto;
  max-width: 250px;
}

.swiper-item__desc-name {
  font-weight: 700;
}

.swiper-item__desc-name,
.swiper-item__desc-author {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.swiper-item__desc-price {
  font-style: italic;
}

/*PLUGINS*/
/*SIMPLEBAR*/
.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track {
  background: #9D5CD0;

  right: -20px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
}

.simplebar-scrollbar::before {
  width: 100%;
  border-radius: 0;

  right: 0;
  left: 0;
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}


/*Select-menu*/
.ui-selectmenu-menu--width {
  width: 300px;
  max-height: 300px;
  padding: 40px;

  background: rgba(0, 0, 0, .4);
}

.ui-selectmenu-open {
  display: flex;
}

.ui-selectmenu-menu .ui-menu {
  max-height: 100%;
  overflow: visible;
}

.ui-menu .ui-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.ui-widget-content {
  background-color: transparent;
}

.ui-menu-item:first-child {
  display: none;
}

.ui-menu .ui-menu-item {
  padding: 11px 15px;

  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;

  background-image: url("../img/list/Rectangle-57.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.ui-menu .ui-menu-item::after {
  content: "";
  height: 100%;
  width: 100%;

  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

  position: absolute;
  top: 0;
  left: 0;

  transition: opacity .2s ease-in-out;
}

.ui-menu .ui-menu-item:hover {
  outline: 2px solid #9D5CD0;
  outline-offset: -2px;
}

.ui-menu .ui-menu-item:active::after {
  opacity: 1;
}

.ui-widget.ui-widget-content {
  border: none;
  width: 100% !important;
}

.ui-selectmenu-button.ui-button {
  width: auto;
  border: none;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;

  background-color: transparent;

  transition: color .2s ease-in-out;
}

.ui-selectmenu-button.ui-button:focus {
  outline: 2px solid #7943A4;
  outline-offset: 4px;
}

.ui-selectmenu-button.ui-button:hover {
  color: #9D5CD0;
}

.ui-selectmenu-button.ui-button:hover .ui-icon {
  border-color: #9D5CD0;
}

.ui-selectmenu-button.ui-button:active {
  color: #7943A4;
}

.ui-selectmenu-button.ui-button:active .ui-icon {
  border-color: #7943A4;
}

.ui-button .ui-icon {
  height: 7px;
  width: 7px;
  margin-top: -2.5px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  float: none;

  background: none;
  pointer-events: none;

  transform: rotate(45deg) translateY(-50%);
  transition: transform .2s ease-in-out, border-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 3;
}

.ui-selectmenu-button.ui-selectmenu-button-open {
  color: #7943A4;
}

.ui-selectmenu-button.ui-selectmenu-button-open .ui-icon {
  border-color: #7943A4;

  transform: rotate(-135deg) translateY(-50%);

  right: 4px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: none;
  color: inherit;
  font-weight: inherit;
  border: none;
  margin: 0;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 0;
}


/* Accordion */
.accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CACACA;

  background: none;
  outline: none;
  box-shadow: 0px -1px 0px 0px rgba(157, 92, 208, 0);

  color: var(--mainColor);

  transition: color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.accordion .ui-accordion-header.catalog-content__item-top--first {
  border-top: 1px solid #CACACA;
}

.ui-accordion-header.ui-accordion-header-active .icon-pointer::after {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.accordion .ui-accordion-content {
  padding-top: 29px;
  padding-bottom: 17px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  border-radius: 0;
}

.ui-accordion-content.ui-accordion-content-active {
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion-header.ui-state-focus {
  outline: 2px solid #7943A4;
  outline-offset: 7px;
}

.accordion .ui-accordion-header.catalog-content__item-top--first.ui-state-hover,
.ui-accordion-header.ui-state-hover {
  border-color: #9D5CD0;
  color: #9D5CD0;
}

.ui-accordion-header.ui-state-hover:not(.catalog-content__item-top--first) {
  box-shadow: 0px -1px 0px 0px rgba(157, 92, 208, 1);
}

.accordion .ui-accordion-header.catalog-content__item-top--first.ui-state-hover:active,
.ui-accordion-header.ui-state-hover:active {
  border-color: #7943A4;
  color: #7943A4;
}

.accordion .ui-accordion-header.ui-accordion-header-active {
  border-bottom-color: #9D5CD0;
}

.accordion .ui-accordion-header.ui-state-hover .icon-pointer {
  background-color: #9D5CD0;
}

.accordion .ui-accordion-header:active .icon-pointer {
  background-color: #7943A4;
  box-shadow: inset 0 0 0 2px #D1A9F0;
}

.accordion .ui-accordion-header.ui-state-hover .icon-pointer::after {
  border-color: #fff;
}


/* CHOICES */
.choices {
  margin-bottom: auto;
}

.choices.is-open .choices__inner {
  border-radius: 6px;
}

.choices__inner {
  min-height: auto;
  padding: 12px 15px;
  background-color: transparent;
  border-radius: 6px;
  border-color: #fff;

  color: #fff;
  line-height: 1;
}

.is-open .choices__inner {
  border-color: #fff;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list.choices__list--single {
  padding: 0;
}

.choices__list--dropdown {
  margin-top: 0;
  border-radius: 6px;
  background-color: transparent;
}

.is-open .choices__list--dropdown {
  border-color: #fff;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 20px;
  color: #999999;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.choices__item--choice.is-selected {
  display: none;
}

.choices[data-type*=select-one]:after {
  width: 7px;
  height: 7px;
  border-width: 0 1px 1px 0;

  border-color: #fff;

  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;

  border-color: #fff;

  transform: rotate(-135deg);
}


/* MAP */
[class*="ground-pane"] {
  filter: grayscale(1);  
}


/* Swiper */
.swiper-container-gallery {
  width: 75%;
  max-height: 831px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
}

.swiper-slide-gallery {
  /* height: calc((100% - 50px) / 2); */
  max-width: 350px;
  max-height: 350px;
}

.events__item.swiper-slide {
  height: auto;
}

.swiper-pagination-events {
  display: none;
}

.swiper-img {
  height: auto;
  max-width: 100%;
}

.swiper-slide-modal {
  cursor: pointer;
}

.swiper-slide-modal img:focus {
  outline: 3px solid #7943A4;
}

.swiper-slide-modal::after {
  content: '';
  width: auto;
  height: auto;

  background: url('../img/Group%2012.svg');
  background-color: rgba(0, 0, 0, .5);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  opacity: 0;
  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  z-index: 2;
}

.swiper-slide-modal::before {
  content: '';
  width: 100%;
  height: 100%;

  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.swiper-slide-modal:hover::after {
  opacity: 1;
}

.swiper-slide-modal:active::before {
  opacity: 1;
}

.swiper-container-editions {
  width: 100%;
  /* height: 100%; */
  height: auto;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.swiper-container-partners {
  width: 100%;

  overflow: hidden;
}

.swiper-slide-partners {
  height: auto;
  max-height: 150px;
  border: 1px solid #CACACA;

  transition: border-color .2s ease-in-out;
}

.swiper-slide-partners:focus {
  outline: none;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: auto;

  color: #fff;

  transform: translateX(-50%);
  left: 50%;
}

.swiper-button-custom {
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  
  background-color: #666666;
  cursor: pointer;

  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

  position: relative;
}

.swiper-button-custom:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #7943A4;
}

.swiper-button-custom:hover {
  background-color: #9D5CD0;
}

.swiper-button-custom:active {
  box-shadow: inset 0 0 0 2px #D1A9F0;
}

.swiper-button-custom::after {
  content: '';
  width: 7px;
  height: 7px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;

  background-color: transparent;

  transition: border-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
}

.swiper-button-custom.swiper-button-custom--prev:after {
  margin-left: 1px;

  transform: translate(-50%, -50%) rotate(135deg);
}

.swiper-button-custom.swiper-button-custom--next {
  margin-left: 70px;
}

.swiper-button-custom.swiper-button-custom--next::after {
  margin-left: -1px;
  
  transform: translate(-50%, -50%) rotate(-45deg);
}

.swiper-button-partners {
  background-color: #ECECEC;
}

.swiper-button-partners:hover::after {
  border-color: #fff;
}

.swiper-button-partners::after {
  border-color: #000;
}

.swiper-button-partners--prev {
  margin-right: 45px;
}

.swiper-button-custom.swiper-button-custom--next.swiper-button-partners--next {
  margin-left: 45px;
}

.swiper-button-container {
  display: inline-block;
  padding-top: 20px;
  margin-bottom: 26px;

  position: relative;
}

.swiper-button-container--editions {
  margin-bottom: 27px;
  padding-top: 32px;
}

/* just-validate */
.js-validate-error-label {
  position: absolute;
}

/*HEADER*/
.header {
  height: 170px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.header__inner {
  padding: 28px 0;

  background-color: black;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-inner__item:first-child {
  margin-right: 179px;
}

.burger-menu {
  display: flex;
  width: 80%;
}

.header-inner__nav {
  margin-right: auto;
}

.header-inner__list,
.header-subinner__list {
  display: flex;
}

.header-subinner__list {
  margin-right: auto;
}

.header-inner__list-item:not(:last-child) {
  margin-right: 62px;
}

.header-inner__link {
  font-weight: 400;
}

.header__subinner {
  padding: 24px 0 21px 0;

  background: rgba(0, 0, 0, .4);
}

.header-subinner__search {
  display: flex;
  flex-direction: row-reverse;
}

.header-subinner__item {
  position: relative;
}

.header-subinner__item:not(:last-child) {
  margin-right: 96px;
}

.header-subinner__link {
  padding-right: 17px;

  font-size: 18px;
  font-weight: 400;
  color: #fff;

  cursor: pointer;
}

.header-subinner__link.open {
  color: #9D5CD0;
}

.header-subinner__link:hover {
  color: #9D5CD0;
}

.header-subinner__link:active {
  color:#7943A4;;
}

.link__triangle {
  height: 7px;
  width: 7px;
  margin-top: -2.5px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  float: none;

  background: none;
  pointer-events: none;
  transition: transform .2s ease-in-out, border-color .2s ease-in-out;
  
  transform: rotate(45deg) translateY(-50%);

  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 3;
}

.header-subinner__link.open .link__triangle {
  border-color: #9D5CD0;

  transform: rotate(-135deg) translateY(-50%);

  right: 2px;
}

.header-subinner__link:hover .link__triangle {
  border-color: #9D5CD0;
}

.header-subinner__link:active .link__triangle {
  border-color: #7943A4;
}

.drop-down {
  display: none;
  width: 300px;
  height: 300px;
  padding: 40px;

  background: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 207%;
}

.drop-down__list {
  max-height: 100%;
}

.drop-down__item {
  padding: 11px 15px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;

  /* transition: outline .2s ease-in-out; */
  transition: box-shadow .2s ease-in-out;

  background-image: url(../img/list/Rectangle-57.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.drop-down__item:not(:last-child) {
  margin-bottom: 20px;
}

.drop-down__item:active::after {
  opacity: 1;
}

.drop-down__item::after {
  content: '';
  width: 100%;
  height: 100%;

  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
}

.drop-down__item:hover {
  /* outline: 2px solid #9D5CD0;
  outline-offset: -2px; */
  box-shadow: inset 0 0 0 2px #9D5CD0;
}

.drop-down__link {
  font-size: 14px;
  
  pointer-events: none;
}

.header-subinner__link.open + .drop-down {
  display: block;
}


/*HERO*/
.hero {
  height: 800px;
  display: flex;
  align-items: center;
  padding-top: 120px;

  overflow: hidden;

  position: relative;
}

.hero::after {
  content: '';
  width: 100%;
  height: 100%;

  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-1x.jpg) 1x,
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  animation: zoom 20s linear infinite;
  animation-direction: alternate;
}

@keyframes zoom {
  0% {transform: scale(1,1);}
  100% {transform: scale(2,2);}
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero__content {
  width: 36%;
}

.hero-content__title {
  margin-bottom: 25px;

  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: #fff;
}

.hero-content__text {
  margin-bottom: 95px;

  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
}

.hero-content__button {
  border: none;

  color: #fff;

  transition: box-shadow .2s ease-in-out, background .2s ease-in-out;

  background: #9D5CD0;
}

.hero-content__button:hover {
  box-shadow: inset 0 0 0 3px #D1A9F0;
}

.hero-content__button:active {
  background: #7943A4;
}

.hero-content__button::after {
  content: '';
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border: 3px solid transparent;
  border-radius: 100px;

  box-shadow: 0 0 0 2px #C283F3;
  background: transparent;
  opacity: 0;

  transition: opacity .2s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content__button:focus::after {
  opacity: 1;
}


/*ABOUT*/
.section-about {
  padding-bottom: 70px;
}

.section-about__description {
  width: 68%;
}


/*GALLERY*/
.section-gallery {
  padding-top: 84px;

  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-1x.jpg) 1x,
      url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-3-2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin-right: 50px;
}

.gallery-content__select {
  margin-bottom: auto;
}

.gallery__text {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #fff;

  transform: translateY(10px);
}

.gallery__text--hidden {
  display: none;
}

.gallery-text__link {
  font-size: 16px;
  line-height: 2;
  color: #C283F3;
}

.gallery-text__link:hover {
  color: #9D5CD0;
}

.gallery-text__link:active {
  color: #7943A4;
}


/*CATALOG*/
.section.section-catalog {
  padding-bottom: 0;
}

.catalog-heading {
  display: flex;
}

.catalog-heading__title {
  margin-right: 30px;
}

.catalog-description {
  width: 69%;
  margin-bottom: 38px;
}

.catalog-content {
  display: flex;
  flex-basis: 50%;
}

.catalog-content__description {
  display: none;
  flex-basis: 47%;
  margin-right: auto;

  animation: author .3s ease-in-out;
}

@keyframes author {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.catalog-content__description-active {
  display: block;
}

.catalog-content__img {
  margin-bottom: 30px;
}

.catalog-content__inner-name {
  margin-bottom: 7px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.catalog-content__inner-date {
  margin-bottom: 7px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #999999;
}

.catalog-content__inner-text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.catalog-content__list {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.catalog-content__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-content__list-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  pointer-events: none;
}

.accordion__content {
  padding-top: 33px;
  padding-bottom: 23px;
}

.accordion-content__list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 316px;
}

.accordion-content__list.active {
  display: flex;
}

.accordion-content__list-item {
  width: 25%;
  margin-right: 58px;
  margin-bottom: 12px;
}

.accordion-content__list-button {
  font-size: 16px;
  line-height: 1;
  color: var(--mainColor);
  font-weight: 400;
  text-align: left;

  transition: color .2s ease-in-out;
}

.accordion-content__list-button:hover {
  color: #9D5CD0;
}

.accordion-content__list-button:active {
  color: #7943A4;
}

.accordion-content__list-button::after {
  content: '';
  width: 100%;
  height: 1px;

  background-color: #9D5CD0;
  opacity: 0;

  transition: opacity .2s ease-in-out;

  position: absolute;
  left: 0;
  bottom: -5px;
}

.accordion-content__list-button:hover::after {
  opacity: 1;
}


/*EVENTS*/
.section-events {
  padding-top: 79px;
}

.swiper-container-events {
  margin-bottom: 50px;
}

.events {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.events-button {
  display: block;
  margin: 0 auto;
}

.events-button--hidden {
  display: none;
}

.events-hidden {
  display: none;
}


/*EDITIONS*/
.section-editions {
  padding-bottom: 74px;

  background-image: url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-1x.jpg);
  background-image:
    -webkit-image-set(
      url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-1x.jpg) 1x,
      url(../img/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash-4-2x.jpg) 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
}

.editions {
  display: flex;
  flex-direction: column;
  width: 31%;
  max-width: 278px;
  margin-right: auto;
}

.editions-categories__title {
  margin-bottom: 7px;

  font-weight: 700;
}

.editions__filters-categories {
  margin-bottom: 23px;
}

.details-categories {
  pointer-events: none;
}

.summary-categories {
  list-style: none;
  
  position: relative;
}

.summary-categories::-webkit-details-marker {
  display: none;
}

.summary-categories:focus {
  outline: none;
}

.editions-categories__list-item {
  margin-bottom: 11px;

  pointer-events: auto;

  position: relative;
}

.editions-categories__list-item:focus-within {
  outline: 2px solid #7943A4;
  outline-offset: 2px;
}

.editions-categories__list-label {
  padding-left: 24px;
}

.editions-price__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.editions-price__group-text {
  padding-left: 10px;
  padding-right: 10px;
}

.editions-price__group-input {
  width: 25%;
  padding: 4px 10px;
  border: none;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #fff;

  background: rgba(157, 92, 208, .5);
}

.editions-price__group-input:focus-visible {
  outline: none;
}

.editions-price__title {
  margin-bottom: 5px;
}

.editions__swiper {
  padding-top: 13px;
}

.swiper-slide--editions {
  border: 2px solid transparent;
}

.swiper-slide--editions:focus {
  border-color: #885BC7;

  outline: none;
}


/*PROJECTS*/
.projects-description {
  width: 67%;
  margin-bottom: 17px;

  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.no-wrap {
  white-space: nowrap;
}

.partners__title {
  margin-bottom: 24px;
}

.partners__inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.partners-inner__item {
  height: 100%;
  width: 100%;
  padding: 44px 60px 43px 60px;
}

.partners-inner__item-img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;

  filter: grayscale(100%);
  opacity: .3;

  transition: filter .2s ease-in-out, opacity .2s ease-in-out;
}

.swiper-slide-partners:focus,
.swiper-slide-partners:active,
.swiper-slide-partners:hover {
  border-color: #885BC7;
}

.swiper-slide-partners:active .partners-inner__item-img,
.swiper-slide-partners:hover .partners-inner__item-img {
  filter: grayscale(0%);
  opacity: 1;
}


/*CONTACTS*/
.section.section-contacts {
  padding-top: 0;
  padding-bottom: 0;
}

.contacts {
  display: flex;
  margin: 0 -160px;
}

.contacts__left {
  width: 35.5%;
  padding: 122px 118px 119px 160px;
  border: 1px solid #CACACA;
}

.contacts__right {
  width: 65%;
}


/*FOOTER*/
.footer {
  background-color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
}


/* MEDIA */

@media (max-width: 1649px) {
  /* Header */

  .header-inner__item:first-child {
    margin-right: auto;
  }

  .header-inner__list-item:not(:last-child),
  .header-subinner__item:not(:last-child) {
    margin-right: 30px;
  }

  .header__container {
    justify-content: space-between;
  }
}

@media (max-width: 1360px) {
  .container {
    padding: 0 50px;
  }

  .footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header {
    display: flex;
    background-color: #000;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .header__container {
    padding: 0;
  }

  .header-container-mobile {
    width: 100%;
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .burger-menu,
  .header-subinner__list {
    display: none;
  }

  .burger-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 768px;
    padding: 40px 0 50px 50px;

    background: rgba(0, 0, 0, 0.9);
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .btn-close.burger-btn--close {
    display: block;
    width: fit-content;
  }

  .header__inner,
  .header__subinner {
    padding: 0;
  }

  .header-inner__nav {
    margin-bottom: 40px;
  }

  .header-inner__list {
    flex-direction: column;
  }

  .header-inner__list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .header-inner__list-link {
    font-size: 24px;
  }

  .burger-btn {
    display: block;
  }

  .header-subinner__list,
  .header-subinner__search.header-subinner__search--reverse {
    flex-direction: row;
  }

  .input-search {
    margin-right: 10px;
  }

  .input-search--hidden {
    display: none;
  }

  .search-btn {
    margin-right: 0;
  }

  .search-icon {
    width: 29px;
    height: 28px;
  }

  .link-login {
    display: inline-block;
    width: fit-content;
    padding: 17px 90px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;

    font-weight: 600;

    background: rgba(0, 0, 0, 0.9);
  }

  /* Hero */
  .hero {
    height: 768px;
    padding-top: 100px;
  }

  .hero::after {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-2-1024.jpg');
  }

  .hero__content  {
    width: 81%;
  }

  .hero-content__title {
    margin-bottom: 15px;
  }

  .hero-content__text {
    margin-bottom: 136px;
  }

  /* About */
  .section-about__description {
    width: 100%;
  }

  /* Gallery */
  .gallery {
    width: 35%;
  }

  .gallery__title {
    line-height: 1.2;
  }

  .swiper-filters__title {
    margin-bottom: 9px;
  }

  .choices__list--dropdown .choices__item {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .swiper-container-gallery {
    max-height: 675px;
  }

  .swiper-slide-gallery {
    max-width: 280px;
    max-height: 280px;
  }

  .modal-popup__content {
    max-width: 594px;
  }

  .modal-popup__right {
    padding-bottom: 80px;
  }
  
  /* Сatalog */
  .tabs {
    padding-top: 8px;
  }

  .catalog-description {
    width: 100%;
  }

  .catalog-content__description {
    flex-basis: 50%;
    margin-right: 50px;
  }

  .accordion-content__list {
    max-height: 400px;
  }

  .ui-accordion .ui-accordion-content {
    overflow: inherit;
  }

  .accordion .ui-accordion-content {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .accordion-content__list-item {
    width: 50%;
    margin-right: 35px;
    margin-bottom: 11px;
  }

  /* Events */
  .events {
    margin: 0 -14px;
  }

  .article {
    padding: 0 14px;
  }

  .article:not(:nth-child(-n+3)) {
    margin-top: 28px;
  }

  .article-figure__caption {
    padding: 15px 17px 6px 20px
  }

  .article__description {
    padding: 0 33px 50px 33px;
  }

  .article-description__text {
    margin-bottom: 29px;
  }

  /* Editions */ 
  .section-editions {
    padding-bottom: 78px;
  }

  .editions {
    margin-right: 17px;
  }

  .editions-categories__title {
    margin-bottom: 7px;
  }

  .swiper-item__desc-caption {
    max-width: 150px;
  }

  .editions-price__title {
    margin-bottom: 7px;
  }

  .swiper {
    width: 67%;
  }

  .swiper-item__img {
    margin-bottom: 13px;
  }

  .swiper-item__desc {
    margin-bottom: 18px;
  }

  /* Projects */
  .projects-description {
    width: 100%;
  }

  .partners__inner.swiper {
    width: 100%;
  }

  .swiper-container-partners {
    width: 90%;
  }

  .swiper-button-partners--prev {
    margin-right: 23px;
  }

  .swiper-button-custom.swiper-button-custom--next.swiper-button-partners--next {
    margin-left: 23px;
  }

  .swiper-slide-partners {
    max-height: 128px;
  }

  /* Contacts */
  .contacts {
    margin: 0 -50px;
  }

  .contacts__left {
    width: 48%;
    padding: 122px 100px 98px 50px;
  }

  .contacts__right {
    width: 53%;
  }
  
  .social__item:not(:last-child) {
    margin-right: 26px;
  }

  .contact-icon,
  .social-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .container-flex {
    flex-direction: column;
  }

  /* Header */
  .header__inner {
    transform: none;
  }

  .input-search--hidden {
    display: none;
  }

  /* Hero */
  .hero__content {
    width: 100%;
  }

  /* Gallery */
  .gallery {
    width: 42%;
    margin-right: 0;
    margin-bottom: 89px;
  }

  .swiper-container-gallery {
    width: 100%;
    height: 725px;
    margin-bottom: 19px;
    padding-left: 0;
  }

  .swiper-slide-gallery {
    height: auto;
    max-width: 317px;
  }
  
  .swiper-slide-modal,
  .swiper-img {
    height: 100%;
  }

  .swiper-img {
    width: 100%;
  }

  .gallery__text {
    display: none;
  }
  
  .gallery__text--hidden {
    display: block;
  }

  .swiper-button-custom.swiper-button-custom--next {
    margin-left: 63px;
  }

  .modal-popup__content {
    max-width: 668px;
  }

  /* Catalog */
  .tabs {
    padding-top: 2px;
  }
  .tabs__item {
    margin-right: 34px;
  }

  .catalog-description {
    margin-bottom: 19px;
  }
  
  .catalog-content {
    flex-direction: column-reverse;
  }

  .catalog-content__list {
    margin-bottom: 50px;
  }

  .accordion .ui-accordion-content {
    padding-bottom: 25px;
  }

  .accordion-content__list {
    max-height: 316px;
  }

  .accordion-content__list-item {
    width: 33.33333%;
    margin-right: 21px;
  }

  .catalog-content__description {
    flex-basis: 100%;
    margin-right: 0;
  }

  .catalog-content__inner-name {
    margin-bottom: 10px;
  }

  /* Events */
  .section-events {
    padding-top: 70px;
    padding-bottom: 84px;
  }

  .events {
    margin: 0 -17px;
  }

  .article {
    padding: 0 17px;
    width: 50%;
  }

  .article:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .article:not(:nth-child(-n+2)) {
    margin-top: 34px;
  }

  .article-hidden {
    display: none;
  }

  .article-figure__caption {
    padding: 15px 17px 1px 20px;
  }

  .article-description__text {
    margin-bottom: 63px;
  }

  .article__img {
    height: 200px;
    object-fit: cover;
  }

  /* Editions */
  .section-editions {
    padding-bottom: 74px;
  }

  .editions {
    width: 100%;
    max-width: 100%;
    padding-right: 5px;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .editions-catagories__list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    max-height: 154px;
  }

  .editions-categories__list-item {
    white-space: nowrap;
  }

  .editions__filters-categories {
    margin-bottom: 21px;
  }

  .editions-categories__title {
    margin-bottom: 5px;
  }

  .editions__filters-price {
    width: 42%;
  }

  .editions-price__title {
    margin-bottom: 6px;
  }

  .swiper {
    width: 100%;
  }

  .swiper-container-editions {
    width: 92%;
    margin-left: 25px;
  }

  .swiper-item__img {
    margin-bottom: 8px;
  }

  /* Projects */
  .projects-description {
    width: 99%;
    margin-bottom: 25px;
  }

  /* Partners */
  .partners__title {
    margin-bottom: 28px;
  }

  .partners-inner__item {
    padding: 24px 23px;
  }

  .swiper-container-partners {
    width: 85%;
  }

  .swiper-slide-partners {
    max-height: 106px;
  }

  /* Contacts */
  .contacts__left {
    width: 56%;
    padding: 122px 43px 99px 50px;
  }

  .contacts__right {
    width: 44%;
  }
}

@media (max-width: 724px) {
  .container {
    padding: 0 15px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* Header */
  .header-container-mobile {
    padding: 15px;
  }

  /* Hero */
  .hero__content {
    text-align: center;
  }

  .hero-content__text {
    margin-bottom: 50px;
  }

  /* catalog */
  .catalog-heading {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .tabs__item {
    margin-right: 27px;
  }

  .tabs__btn {
    width: 44px;
    height: 44px;
  }

  .lang-icon {
    width: 32px;
    height: 32px;
  }

  .lang-icon-rect {
    width: 32px;
    height: 32px;
  }

  .catalog-description {
    display: none;
  }

  /* contacts */
  .contacts {
    margin: 0 -15px;
  }

  /* Footer */
  .footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }

  .contact-icon, 
  .social-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 593px) {
  .section__title {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .section__description {
    font-size: 14px;
  }

  .button {
    font-size: 12px; 
    padding: 13px 19px;
  }

  .button--small {
    padding: 11px 17px;
  }

  .swiper-button-custom.swiper-button-custom--next {
    margin-left: 71px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: inherit;
  }

  .no-wrap {
    white-space: normal;
  }

  /* Header */
  .header {
    height: 45px;
  }

  .header__container.header__container--mobile {
    padding: 0;
  }

  .burger-btn {
    padding: 9px 0;
  }

  .burger-btn__item {
    width: 20px;
    height: 2px;
  }

  .burger-btn__item::before {
    top: -6px;
  }

  .burger-btn__item::after {
    top: 6px;
  }

  .burger-btn--close {
    padding: 7px 0;
  }

  .btn-close__item,
  .btn-close__item::after {
    width: 19px;
    height: 2px;
  }

  .burger-menu.show {
    height: 355px;
    padding: 15px 0 27px 15px;
  }

  .header-inner__nav {
    margin-bottom: 0;
  }

  .header-inner__list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .header-inner__list-link {
    font-size: 16px;
  }

  .link-login {
    padding: 10px 30px;

    font-size: 12px;
  }

  .login-icon {
    width: 9px;
    height: 9px;
  }

  .search-icon {
    width: 16px;
    height: 16px;
  }


  /* Hero */
  .hero {
    padding-top: 77px;
    padding-bottom: 45px;
    height: 355px;
  }

  .hero::after {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash-2-320.jpg');
  }

  .hero__container {
    justify-content: center;
  }

  .hero__content {
    width: 95%;
  }

  .hero-content__title {
    margin-bottom: 10px;

    font-size: 32px;
    line-height: 1.2;
  }

  .hero-content__text {
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
  }

  /* About */
  .section.section-about {
    padding-bottom: 41px;
  }

  /* Gallery */
  .section.section-gallery {
    padding-top: 54px;
    padding-bottom: 81px;
  }

  .gallery {
    width: 100%;
    margin-bottom: 119px;
  }

  .choices__list--dropdown .choices__item {
    padding-top: 10px;
  }

  .swiper-filters__title {
    margin-bottom: 4px;
  }

  .swiper-slide-gallery {
    max-width: none;
    max-height: none;
  }

  .swiper-button-container-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-top: 15px;
  }

  .swiper-container-gallery {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 9px;
    padding-left: 0;
  }

  .modal-popup {
    padding: 15px 15px;
  }

  .modal-popup__content {
    flex-direction: column;

    position: relative;
  }

  .modal-popup__left,
  .modal-popup__right {
    width: 100%;
  }

  .modal-popup__left {
    max-height: 200px;
    
    overflow: hidden;
  }

  .modal-popup__right {
    padding: 20px;

    position: static;
  }

  .modal-popup__date {
    margin-bottom: 5px;
  }

  .btn-close.modal-popup__btn {
    top: 10px;
    right: 10px;
  }
  

  /* Catalog */
  .section.section-catalog {
    padding-top: 81px;
  }

  .catalog-heading {
    margin-bottom: 11px;
  }

  .catalog-heading__title {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .tabs {
    padding-top: 0;
    margin-left: -6px;
  }

  .tabs__item {
    margin-right: 21px;
  }

  .accordion-content__list {
    max-height: none;
  }
  .accordion-content__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;

    line-height: 1;
  }

  .icon-pointer {
    width: 30px;
    height: 30px;
  }

  .icon-pointer::after {
    width: 7px;
    height: 7px;
  }

  .catalog-content__list-heading {
    font-size: 18px;
  }

  .accordion .ui-accordion-header {
    padding-top: 21px;
    padding-bottom: 19px;
  }

  .accordion .ui-accordion-content {
    padding-top: 26px;
    padding-bottom: 10px;
  }

  .catalog-content__img {
    margin-bottom: 19px;
  }

  .catalog-content__inner-name {
    margin-bottom: 14px;
  }

  /* Events */
  .swiper-container-events {
    margin-bottom: 0;
  }

  .events {
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 20px;
  }

  .events__item.article {
    flex: none;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
  }

  .events__item.events-hidden,
  .events__item.article-hidden {
    display: flex;
  }

  .article-figure__caption {
    padding: 15px 17px 4px 20px;
  }

  .article__description {
    padding: 0 0px 50px 28px;
  }

  .article-description__title {
    margin-bottom: 36px;
  }

  .article-description__text {
    margin-bottom: 27px;
  }

  .swiper-pagination-events {
    display: block;
  }

  .swiper-container-events >.swiper-pagination-events {
    display: flex;
    justify-content: center;

    transform: none;
  }

  .events-button {
    display: none;
  }

  .swiper-pagination-bullet-events {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #CACACA;
  }

  .swiper-pagination-bullet-events:not(:last-child) {
    margin-right: 15px;
  }

  .swiper-pagination-bullet-events-active {
    background-color: #666666;
  }

  /* Editions */
  .section.section-editions {
    padding-bottom: 0;
  }

  .editions {
    margin-bottom: 49px;
  }

  .swiper-container-editions {
    overflow: visible;
  }

  .details-categories {
    pointer-events: auto;
  }

  .editions-catagories__list {
    max-height: none;
  }

  .editions-categories__list-item {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    width: 100%;
  }

  .editions-categories__list-item::before,
  .editions-categories__list-item::after {
    content: '';
    width: 12px;
    height: 1px;

    background-color: #fff;

    transform: rotate(-45deg);

    position: absolute;
    right: 0;
    top: 50%;
  }

  .editions-categories__list-item::after {
    transform: rotate(45deg);
  }

  .editions__filters-categories {
    margin-bottom: 49px;
  }

  .summary-categories {
    padding-top: 2px;
    margin-bottom: 9px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .summary-categories::after {
    content: '';
    width: 7px;
    height: 7px;
    border-width: 0 1px 1px 0;
    
    border-style: solid;
    border-color: #fff;
    background-color: transparent;
  
    transform: rotate(45deg) translateY(-50%);
  
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .details-categories[open] .summary-categories::after {
    transform: rotate(-135deg) translateY(-50%);
  }

  .editions__filters-price {
    width: 100%;
  }

  .editions-categories__list-label {
    display: block;
  }

  .swiper-item__desc-caption {
    max-width: 130px;
  }

  .swiper-container-editions {
    width: 100%;
    margin-left: 0;
  }

  .swiper-wrapper-editions {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .swiper-slide--editions {
    flex: 0 1 45%;
    margin-bottom: 50px;
  }

  .swiper-item__img {
    margin-bottom: 6px;
  }

  .swiper-item__desc {
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 13px;
  }

  .swiper-button-container.swiper-button-container--editions {
    display: none;
  }

  .button-editions {
    width: 100%;
  }

  .button--shift {
    margin: 0;
  }

  /* Projects */
  .popup {
    max-width: 100px;
  }

  .swiper-button-partners--prev {
    margin-right: 17px;
  }

  .swiper-button-custom.swiper-button-custom--next.swiper-button-partners--next {
    margin-left: 17px;
  }

  .partners__title {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .projects-description {
    margin-bottom: 13px;
    width: 100%;
  }

  .swiper-container-partners {
    width: 71%;
    /* width: 90%; */
  }

  .swiper-slide-partners {
    max-height: 65px;
  }

  .partners__inner {
    justify-content: space-between;
  }

  .partners-inner__item {
    padding: 18px 23px;
  }

  /* Contacts */
  .contacts {
    flex-direction: column-reverse;
  }

  .contacts__left {
    width: 100%;
    padding: 12px 15px 8px 15px;
    border: none;
  }

  .contacts-left__title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .form__title {
    margin-bottom: 20px;

    font-size: 18px;
  }

  .form__item {
    margin-bottom: 20px;
  }


  .form__button {
    padding: 11px 33px;
    margin-bottom: 24px;
  }

  .contacts__right {
    width: 100%;
    height: 320px;
  }

  .address-desktop {
    display: none;
  }

  .address-mobile {
    display: block;
    margin-left: -3px;
  }

  .address {
    font-size: 14px;
    line-height: 1.2;
  }

  .social__title {
    margin-bottom: 11px;

    font-size: 18px;
  }

  .social__item:not(:last-child) {
    margin-right: 17px;
  }

  /* Footer */
  .footer-container {
    flex-direction: column-reverse;
  }

  .social {
    margin-bottom: 18px;
  }

  .footer-social__item:not(:last-child) {
    margin-right: 25px;
  }
}

/* 
- пиксель перфект - на десктопе верстка отличается от верстки на ноутбуке
- изображения в галерии - div для клика переделать в button
- border top в аккордионе - сделан через псведоэлемент
- burger-menu - добавить класс в элемент, а то некорректно выглядит
*/